body{

}

.elso{
    background-color: aqua;
    
}

.masodik{
    background-color: blueviolet;
    width: 50%;
}

.harmadik{
    background-color: rgb(61, 48, 48);
    width: 100px;
    height: 25px;
}